@using System.Runtime.CompilerServices
@using dotless.Core.Parser.Tree
@using Session.Controllers
@using Session.Models
@model OrderViewModels

@{
	Bundles.Reference("jquery");
	Bundles.Reference("session");
}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Bundles.RenderScripts()
	@SessionTracking.Activate()

	<script type="text/javascript">


		function callme() {
			$.ajax({
				type: "POST",
				dataType: "json",
				url: "/Order/BackForth",
				data: {
					test: "Irgendwas"
				}
			});
			return true;
		}

		// Application code
		$(document)
			.ready(function () {
				$("span#browserSessionId").html($("#BrowserSessionId").first().val()); // Anzeige
				$("span#duplicated").html($("#Duplicated").first().val()); // Anzeige
				$("span#windowId").html($("#WindowId").first().val()); // Anzeige

			});

	</script>
</head>
<body>

	<h1>Page</h1>
	<div id="displayTracking">
		<pre>
		Session:         @Session.SessionID
		Browser-Session: <span id="browserSessionId"></span>
		Window ID:       <span id="windowId"></span>
		Duplicated:      <span id="duplicated"></span>
	</pre>
	</div>

	<!-- Add class to Links with Browser Session Attribute-->
	@Html.ActionLink("LinkAction", "Start", new { controller = "Order" , test = "23"}, new { @class = "session-tracking" })

	@using (Html.BeginForm("CreateOrder", "Order", FormMethod.Post))
	{
		<div class="col-lg-2">
			@Html.LabelFor(m => m.Name, "Name:") @Html.EditorFor(m => m.Name)
		</div>
		<input type="submit" value="Create" class="btn btn-default" />
	}

	<form>
		<input type="button" value="Send" onclick="return callme();" />
	</form>

	@SessionTracking.Anchor()

</body>
</html>